{ /* === Reset === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}}
{/* === Globals*/
body {
    font-family: Helvetica, sans-serif;
    background-color: #2b2727;
    line-height: 1.6;
    padding: 20px;
}
/* layout */ header, main, footer {
    padding: 20px;
}
/* type*//*a {
    color:white;
    }
    a:hover {
        color: aquamarine;
    }

*/


}

{/* Header */ 
header {
    background-color:#2b2727;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 5px;
    color: white;

}}

 
/* footer*/
footer {
    color:aqua;
}